{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Cuisine - {{ cuisine.name }} : {{dish.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>{{dish.name}}</h2>
		</div>
	</div>
		<div class="row">
			<div class="col-md-3">
				<p><em>{{dish.description}}</em></p>
			</div>
			<div class="col-md-7">
				<p>{{dish.recipe}}</p>
			</div>
			{% if dish.user_id == loginid %}
				<a href='{{url_for('editDishDesc', dish_id=dish.id, cuisine_id = cuisine.id) }}'>Edit
				</a> | 
				<a href='{{url_for('deleteDish', dish_id=dish.id) }}'>Delete</a>
			{% endif %}
		</div>
	
{% endblock %}
