

  <!--Start header.html -->
  <div class="row">
     <div class="col-md-7">
     </div>
     <div id="result" class="col-md-3">
     </div>
     <div class="g-signin2" data-onsuccess="onSignIn">
     </div>
        <meta name="google-signin-scope" content="openid email"/>
        <meta name="google-signin-clientid" content="893057848592-c4dplknr2tfvbui5q817a97a88qitj2l.apps.googleusercontent.com"/>
        <meta name="google-signin-redirecturi" content="postmessage"/>
        <meta name="google-signin-accesstype" content="offline"/>
        <meta name="google-signin-cookiepolicy" content="single_host_origin"/>
        <meta name="google-signin-callback" content="signInCallback"/>
        <meta name="google-signin-approvalprompt" content="force"/>
  </div>

  <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:5000">Home</a></li>
        <!--  
        $( document ).ready(function() {
        	 name = '{{loggedusername}}';
        	 if(name!='None'){
        		 $("#result").html('Welcome ' + name);
        	 }
         });
         -->
        <li><a href="{{url_for('newDish')}}"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add New Dish</a></li>
        <li style="float:right;">
          <div class="col-md-1  text-right">
            <!-- Need to remove -->
          </div>
        </li>
      </ul>
  </nav>

<script>
        function signInCallback(authResult) {
          console.log(authResult)
          console.log(authResult['code'])
          if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            console.log('{{loggedusername}}');
            name = '{{loggedusername}}';
            if(name=='None'){
                $.ajax({
                  type: 'POST',
                  url: '/gconnect?state={{STATE}}',
                  processData: false,
                  data: authResult['code'],
                  contentType: 'application/octet-stream; charset=utf-8',
                  success: function(result) {
                      // Handle or verify the server response if necessary.
                      if (result) {
                          window.location.href = "/";
                            //$('#result').html('Welcome '+JSON.parse(result).username)
                      } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                      } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                      }
                  }    
                }); 
            }else{
                console.log('gconnect call was skipped');
            }
          } 
        }    
</script>
  <!--End header.html -->